*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
  position: relative;
}
.sidebar {
  border-collapse: collapse;
  width: 35%;
  height: 100%;
}
h1 {
  color: #696969;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 30px;
  text-align: left;
  font-family: "PT Serif";
}
.search{
  margin-left: 25px;
  margin-top: 30px;
}
input {
  font-size: 12px;
}
#store-list {
  margin-top: 30px;
  font-size: 13px;
  line-height: 25px;
}
#map {
  border: 2px solid #D3D3D3;
  bottom:0px;
  left: 360px;
  position: absolute;
  height: 100%;
  right: 0px;
}
.text {
  font-size: 12px;
}

@media screen and (max-width: 800px) {
    .container {
    display: flex;
    flex-flow: column wrap;
    }
}