*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
html,
body， 
.container,
map {
  height: 100%;
  width: 100%;
}
.sidebar {
  height: 100%;
  width: 300px;
  position: absolute;
  transform: translate(-300px, 0);
  transition: transform 0.3s, ease;
}
sidebar.open {
  transform: translate(0, 0);
}

h1 {
  color: #696969;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 0px;
  padding-top: 30px;
  text-align: left;
  font-family: "PT Serif";
}
.search{
  margin-left: 25px;
  margin-top: 30px;
}
input {
  font-size: 12px;
}
#store-list {
  margin-top: 30px;
  font-size: 13px;
  line-height: 25px;
}

.text {
  font-size: 12px;
}

@media screen and (min-width: 600px) {
    sidebar{
      position: relative;
      transform: translate(0, 0);
    }
    container {
      display: flex;
      flex-flow: row nowrap;
    }
    map {
      width: auto;
      flex-grow: 1;
    }
}